{% extends "base.html" %}


{% block title %}Log in{% endblock %}

{% block content %}
  
    <div class = "row container" style = "margin-top: 3rem;">
      {% with messages = get_flashed_messages()  %}
          {% if messages %}
              {% for message in messages %}
                <p style="color : red;font-weight: bold; text-align: center;">{{ message }}</p>  
              {% endfor %} 
          {% endif %}
      {% endwith %}
        <div class = "col-3"></div>
        <div class = "col-7">
            <form class = 'p-4 mb-4 text-bg-dark  rounded-3' action = "/{{status}}" method = "POST" >
              {% if status == "signin" %}
              <div class="mb-3 ">
                <label for="exampleInputEmail1"  class="form-label">Full Name</label>
                <input type="text" placeholder="Name Surname" name = "name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              {% endif %}
                
                <div class="mb-3 ">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" name = "email" placeholder = "e.g. ramiz@gmail.com" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  {% if status == "signin" %}
                  <div id="emailHelp" style = "color : white;"class="form-text">We'll never share your email with anyone else.</div>
 
                  {% endif %}
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" name = "password" class="form-control" id="exampleInputPassword1">
                </div>
                {% if status == "login" %}
                <button type="submit" class="btn btn-primary">Login</button>
                {% else %}
                <button type="submit" class="btn btn-primary">Register</button>
                {% endif %}
              </form>
        </div>
        <div class = "col-2"></div>
    </div>
    

    {% include 'Footer.html'   %}
{% endblock %}